.header__lang-link {
  margin: auto 18px auto auto;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  text-decoration: none;
  text-align: left;
  transition: 0.3s ease;
}
.header__lang-link:last-child {
  margin-right: 0;
}
.header__lang-link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
}
