.places {
  margin: 7.1875% auto 0 auto;
  width: 76.875%;
  display: grid;
}
@media screen and (max-width: 1024px) {
  .places {
    width: 90.625%;
  }
}
@media screen and (max-width: 680px) {
  .places {
    width: 100%;
  }
}
