@import url(/normalize.css);
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Inter-Regular.woff2) format("woff2"),
    url(./fonts/Inter-Regular.woff) format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(./fonts/Inter-Black.woff2) format("woff2"),
    url(./fonts/Inter-Black.woff) format("woff");
}
/* * {
  outline: 1px solid rgb(211, 211, 211);
} */
.body {
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
  color: white;
}
.header {
  margin: 2.1875% 5% 0 5%;
  width: 90%;
  max-height: 52px;
  min-height: 52px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.header__logo {
  width: 152px;
  margin-right: auto;
}
.header__lang-link {
  margin: auto 18px auto 0;
  color: white;
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  text-decoration: none;
  transition: 0.3s ease;
}
.header__lang-link:last-child {
  margin-right: 0;
}
.header__lang-link:hover {
  opacity: 0.8;
}
.header__lang-link_active {
  text-decoration: underline;
}
.lead {
  margin: 4.375% auto 0 auto;
  width: 78.5%;
  display: flex;
  flex-direction: column;
  /*  overflow: hidden; убрать это свойство когда адаптируешь шрифты */
}
.lead__title {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 104%;
  text-align: center;
}
.lead__subtitle {
  margin: 3.252% 0 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 120%;
  text-align: center;
}
.lead__image {
  margin-top: 6.504%;
  width: 100%;
}
.lead__caption {
  margin: 8px 0 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.intro {
  margin-top: 7.1876%;
  margin-left: 10.75%;
  margin-right: auto;
  width: 59.3%;
}
.intro__title {
  margin: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

.intro__text {
  margin: 5.8% 0 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}
.intro__list {
  margin: 4.79% 0 0 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  list-style: none;
}
.list-item__span {
  font-weight: 700;
}

.photo-grid {
  margin: 7.1876% 5% 0 5%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
.photo-grid__item {
  max-width: 100%;
}
.places {
  margin: 7.1875% auto 0 auto;
  width: 78.5%;
}
.place {
  margin: 8.13% 0 0 0;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  column-gap: 4.06%;
}
.place__title {
  margin: 0;
  margin-bottom: 4.89%;
  max-width: 460px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
}
.place__website {
  grid-column: 2;
  margin-bottom: 4.89%;
  align-self: end;
}
.place__url-heading {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
}
.place__link {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: white;
  transition: 0.3s ease;
}
.place__link:hover {
  opacity: 0.8;
}
.place__image {
  width: 100%;
  grid-row: 2/8;
}
.place__paragraph {
  grid-column: 2;
  margin: 0 0 26px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
.place__paragraph:last-child {
  margin: 0;
}
.cover {
  width: 90%;
  min-height: calc(100vw / 1.6);
  margin: 7.1876% auto 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cover:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: 0.3s ease;
  z-index: 1;
}
.cover:hover::before {
  opacity: 0.8;
}
.cover__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.cover__title {
  margin: 0;
  max-width: 540px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 109%;
  text-align: center;
  color: white;
  z-index: 2;
}
.cover__subtitle {
  margin: 2.7% 0 0 0;
  width: 30.4%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  z-index: 2;
}
.cover__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  width: 90%;
  min-height: 18px;
  margin: 7.1876% auto 1.875% auto;
}
.footer__menu {
  display: flex;
}
.footer__link {
  margin: 0 1.4% 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}
.footer__link:last-child {
  margin-right: 0;
}
.footer__link:hover {
  opacity: 0.8;
}
.footer__copyright {
  margin: 0 0 0 auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 90%;
  }
  .intro {
    margin-left: 5%;
    width: 67.4%;
  }
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
  .places {
    width: 90%;
  }
  .place {
    grid-template-columns: minmax(440px, 1fr);
  }
  .cover {
    width: 100%;
  }
  .cover__title {
    min-width: 54.6%;
  }
  .cover__subtitle {
    width: 35.1%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
  .lead__caption {
    margin-left: 5%;
  }
  .intro {
    margin-right: 5%;
    width: 90%;
  }
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .place {
    grid-template-columns: minmax(340px, 1fr);
  }
  .place__title {
    font-size: 42px;
    line-height: 110%;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
  .cover__title {
    min-width: 73%;
  }
  .cover__subtitle {
    width: 47%;
  }
}
@media screen and (max-width: 700px) {
  .lead__title {
    font-size: 56px;
  }
  .lead__subtitle {
    font-size: 20px;
  }
  .places {
    width: 100%;
  }
  .place {
    width: 100%;
    margin: 8.13% 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
  }
  .place__title {
    max-width: 90%;
    margin-left: 5%;
    grid-column: 1;

    grid-row: 1;
    grid-column: 1;
  }
  .place__website {
    max-width: 90%;
    margin-left: 5%;
    grid-column: 1;
    grid-row: 2;
  }
  .place__paragraph {
    width: 90%;
    margin: 0 5% 7.85% 5%;
    grid-column: 1;
    grid-row: auto;
  }
  .place__paragraph:last-child {
    margin: 0 5% 0 5%;
  }
  .place__image {
    margin-bottom: 10%;
    width: 100%;
    grid-column: 1;
    grid-row: auto;
    object-fit: fill;
  }
  .cover__title {
    min-width: 60%;
    font-size: 32px;
  }
  .cover__subtitle {
    width: 90%;
  }
  .footer {
    margin: 20% 0 7.5% 5%;
  }
  .footer__menu {
    width: 100%;
    flex-direction: column;
  }
  .footer__link {
    margin: 0;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 10%;
  }
  .footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 100%;
  }
}
@media screen and (max-width: 420px) {
  .lead__title {
    font-size: 48px;
  }
  .lead__subtitle {
    font-size: 18px;
  }
}
@media screen and (max-width: 360px) {
  .lead__title {
    font-size: 40px;
  }
  .lead__subtitle {
    font-size: 18px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    max-height: 42px;
    min-height: 42px;
  }
  .header__logo {
    width: 142px;
  }
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
  .lead__title {
    font-size: 40px;
    line-height: 110%;
  }
  .lead__subtitle {
    font-size: 16px;
    line-height: 125%;
  }
  .intro {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .intro__title {
    font-size: 32px;
    line-height: 109%;
  }
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
  }
  .place__title {
    font-size: 32px;
    line-height: 109%;
  }
  .place__paragraph:last-child {
    margin: 0 5% 0 5%;
  }
  .cover {
    min-height: 200px;
  }
  .cover__title {
    max-width: 75%;
    font-size: 32px;
    line-height: 109%;
  }
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
