.cover__subtitle {
  margin: 32px 0 0 0;
  width: 30.4%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .cover__subtitle {
    width: 35.1%;
  }
}
@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 47%;
  }
}
@media screen and (max-width: 680px) {
  .cover__subtitle {
    width: 90%;
  }
}
@media screen and (max-width: 320px) {
  .cover__subtitle {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}
