.place__paragraph {
  grid-column: 2;
  margin: 0 0 26px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
.place__paragraph:last-child {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}
@media screen and (max-width: 700px) {
  .place__paragraph {
    width: 90%;
    margin: 0 5% 7.85% 5%;
    grid-column: 1;
    grid-row: auto;
  }
}
