.intro {
  margin-top: 7.1876%;
  margin-left: 10.75%;
  margin-right: auto;
  width: 53.90625%;
}
@media screen and (max-width: 1024px) {
  .intro {
    margin-top: 8.98%;
    margin-left: 5%;
    width: 67.3828125%;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    margin-top: 11.4583%;
    margin-left: auto;
    margin-right: auto;
    width: 93.75%;
  }
}
@media screen and (max-width: 320px) {
  .intro {
    width: 90%;
  }
}
