.cover {
  width: 92.5%;
  margin: 7.1875% auto 0 auto;
}
@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    margin-top: 8.98%;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    margin-top: 11.72%;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    margin-top: 20.625%;
  }
}