.cover__title {
  margin: 0;
  max-width: 540px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 109%;
  text-align: center;
  color: white;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: 54.6%;
  }
}
@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 73%;
  }
}
@media screen and (max-width: 680px) {
  .cover__title {
    min-width: 50%;
    font-size: 32px;
  }
}

