.place__website {
  grid-column: 2;
  margin-bottom: 4.89%;
  align-self: end;
}
@media screen and (max-width: 1024px) {
  .place__website {
    margin-bottom: 10.91%;
  }
}
@media screen and (max-width: 768px) {
  .place__website {
    margin-bottom: 14.118%;
  }
}
@media screen and (max-width: 680px) {
  .place__website {
    max-width: 90%;
    margin-left: 5%;
    grid-column: 1;
    grid-row: 2;
  }
}
@media screen and (max-width: 320px) {
  .place__website {
    margin-bottom: 10%;
  }
}
